[Unit]
After=network-online.target
Description=Mauzr agent
Requires=mauzr@%i.socket

[Service]
User=mauzr
EnvironmentFile=/etc/mauzr/%i
ExecStart=/usr/bin/mauzr $MAUZR_DEVICE

[Install]
WantedBy=multi-user.target
Also=mauzr@%i.socket
