[Unit]
After=network-online.target
Description=Mauzr agent

[Service]
User=mauzr
EnvironmentFile=-/etc/mauzr/common
EnvironmentFile=/etc/mauzr/%i
ExecStart=/usr/bin/mauzr $MAUZR_DEVICE

[Install]
WantedBy=multi-user.target
